<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>

<body>

<div class="container">

    <div class="text">
        <h2>Корякин Вячеслав Владимирович</h2>
        <h2>Промышленая автоматизация</h2>
    </div>
    <div class="brand">
        <img src="/goofy.jpg" alt="">
        <div class="block">
            <div>
                <p class="text-color">Brand</p>
                <p>Siemens</p>
                <p>TiaPortal</p>
                <p>WinCC</p>
            </div>
            <div>
                <p class="text-color">Адрес</p>
                <p>г. Н, ул. Н, д. н</p>
            </div>
            <div>
                <p class="text-color">Телефон</p>
                <p>+7999999999</p>
            </div>
            <div>
                <p class="text-color">Описание</p>
                <p>Разработка програмного обоспечения</p>
            </div>
        </div>
    </div>
</div>

</body>

</html>